# Update System - this would restart the server at any day at 3 am
0 3 * * *       apt update -y && apt full-upgrade -y && apt dist-upgrade -y && apt autoclean -y && apt autoremove -y && /sbin/init 6

# snowflake initial script
@reboot         /bin/bash /<CHANGE THIS>/initial_snowflake.sh&

# snowflake check script
*/5 * * * *     /bin/bash /<CHANGE THIS>/check_snowflake.sh&

# memory check script
*/1 * * * *     /bin/bash /<CHANGE THIS>/check_script_memory_script.sh

# cpu check script
*/1 * * * *     /bin/bash /<CHANGE THIS>/check_script_cpu_script.sh

# move cpu log
@reboot         /usr/bin/mv /<CHANGE THIS>/cpu.log /<CHANGE THIS>/cpu-logs/$(date -u +%Y-%m-%d)-cpu.log

# move memory log
@reboot         /usr/bin/mv /<CHANGE THIS>/memory.log /<CHANGE THIS>/memory-logs/$(date -u +%Y-%m-%d)-memory.log
